@import "variables";
@import 'mixins/mixins';
.landing-page-section {
    background-color: var(--white);
    border-bottom: calculateRem(1px) solid rgba(var(--rc-rgba-gray), 0.79);
    -webkit-box-shadow: 0 calculateRem(1px) calculateRem(3px) rgba(var(--rc-rgba-black), 0.075);
    box-shadow: 0 calculateRem(1px) calculateRem(3px) rgba(var(--rc-rgba-black), 0.075);
}

.landing-page-image {
    margin: calculateRem(40px) 0 calculateRem(40px) 0;
}

.landing-page-image img {
    border-radius: 0.65em;
}

.landing-page-description {
    padding-top: 3em;
    font-weight: bold;
}

.landing-page-description p {
    margin: 0;
    font-weight: bold;
    font-size: calculateRem(14px);
}

.ui.card>.card-opacity {
    opacity: 0.2;
}

.ui.card>.cardsize {
    height: 200px;
    overflow-y: auto;
}

.ui.card>.image-card-size {
    height: 350px;
    overflow-y: auto;
}

.ui.card .article-header-padding {
    padding: 1em 1em 1em 1em;
    font-weight: bold;
    font-size: 1.25em;
}

.ui.segment .segment-heading {
    font-weight: bold;
    font-size: 1.25em;
}

//==========================vertical scrolling ================================================================
.tickerv-wrap {
    background: #eee;
    box-sizing: content-box;
    height: 215px;
    /* Take note of this */
    overflow: hidden;
    /* Hide scrollbars */
    padding: 10px;
}

.tickerv-wrap-calender {
    background: #eee;
    box-sizing: content-box;
    overflow: hidden;
    /* Hide scrollbars */
    padding: 5px;
}


/* TICKER ANIMATION */

@keyframes tickerv {
    0% {
        margin-top: 0;
    }
    /* Quite literally -ve height of wrapper */
    25% {
        margin-top: -26px;
    }
    /* 1 X 25 px */
    50% {
        margin-top: -52px;
    }
    /* 2 X 25 px */
    75% {
        margin-top: -78px;
    }
    /* 3 X 25 px */
    100% {
        margin-top: 0;
    }
    /* Back to first line */
}

.tickerv-wrap ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    animation-name: tickerv;
    /* Loop through items */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0);
}

.tickerv-wrap ul:hover {
    /* Pause on mouse hover */
    animation-play-state: paused;
}


/* ITEMS */

.tickerv-wrap ul li {
    font-size: 18px;
    line-height: 26px/* Same as wrapper height */
}

.calender-image {
    width: 100%;
    height: 320px;
    max-width: 100%;
}

.article-image {
    width: 100%;
    height: 350px;
    max-width: 100%;
}
