<app-landing-section [textToDisplay]="" [layoutConfiguration]="layoutConfiguration" [noTitle]="false">
</app-landing-section>
<div class="landing-page-section mb-20">
    <div class="ui container">
        <div class="ui stackable grid py-20">
            <div class="six wide column">
                <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
            </div>
            <div class="six wide column">
                <p>The Togolese Government has undertaken an important task of digital transforming the educational landscape and bringing about large-scale improvement across the schools of the country. Considering the impact of COVID-19 pandemic, a shift
                    from traditional classroom transactions to digital education solutions is imperative. There is a need for a viable, feasible and sustainable digital education solution for the country. In this context, the Government of Togo has established
                    a digital platform to enable students and teachers across the country to access a variety of teaching and learning resources. This platform will support in learning as per the school curriculum complemented with certain specialized
                    skills which are not included in the current school curriculum. </p>

                <p>The platform leverages open source technology and the underlying policies and tools will empower the entire education ecosystem of the country- educationists, experts, organizations, institutions(- government, autonomous, non-government
                    and private) to participate, contribute, and achieve learning goals at scale for the country</p>
                <br />
                <a href="#">Read More > </a>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="eight wide column ">
            <div class="ui segment">
                <div class="header p-10 segment-heading">
                    <span>Featured Articles</span>
                    <a href="#" class="right-floated">View All</a>
                </div>
                <br>
                <div class="ui two stackable cards">
                 <div class="ui card">
                        <div class="content image-card-size">
                         <img class="article-image" src="{{'assets/images/article-image-1.jpg'}} " />
                        </div>
                     </div>
                    <div class="ui card">
                        <div class="content image-card-size">
                         <img class="article-image" src="{{'assets/images/article-image-2.png'}} " />
                        </div>
                     </div>
                   
                    <div class="ui card">
                        <div class="content cardsize ">
                            <!-- <div class="description"> -->
                            <div class="description">
                                <p>Learning as a discipline has evolved over centuries. One of the great mediums has been learning by hearing or “Shruti” for passing on the wisdom of our ancient scriptures across generations. However, with time this process
                                    evolved like everything else. Learning and Development in corporate organizations have also witnessed tumultuous changes, particularly over the last two decades or so. The trend now is leaning more towards creating
                                    a robust philosophy of learning for organizations.</p>
                            </div>
                        </div>
                        <h4 class="article-header-padding">Need to adapt L&D in the COVID world</h4>
                    </div>
                    <div class="ui card">
                        <div class="content cardsize ">
                            <!-- <div class="description"> -->
                            <div class="description">
                                <p>We all are well aware of the proverb “All work and no play makes Jack a dull boy” . This signifies how important it is for children to indulge in activities other than just studying. More and more people in the educational
                                    sector agree on the importance of learning things other than just academics.It is important to understand Non-academic courses are equally important when compared to studies. Studying helps your kid gain knowledge,
                                    but non-academic courses help in the overall development of your kid .it’s becoming more and more clear that the key to a child’s success is learning a wide variety of skills—including non-academic skills,thus helping
                                    the kid in their holistic development, and your kid can pursue interest outside a regular and standardized academic course.</p>
                            </div>
                        </div>
                        <div class="article-header-padding">Why Non-academic courses are equally important part of e-learning
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui segment" style="height:400px">
                <div class="content">
                    <div class="header segment-heading" style="padding-bottom: 44px;">
                        <span>Announcements</span>
                        <a class="right-float">View All</a>
                    </div>

                    <div class="tickerv-wrap">
                        <ul>
                            <li>
                                <div class="item">
                                    <div class="content">
                                        <a class="header text-decoration-underline">Exam Date Announced </a>
                                        <br>
                                        <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="content">
                                        <a class="header text-decoration-underline">Exam Date Announced </a>
                                        <br>
                                        <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>



                </div>
            </div>




            <div class="ui segment" style="height:385px">
                <div class="content">
                    <div class="header segment-heading">
                        <span>Calender</span>
                        <a class="right-float">View All</a>
                    </div>

                    <div class="tickerv-wrap-calender">
                        <img class="calender-image" src="{{'assets/images/togo_calender_1.jpg'}} " />

                    </div>



                </div>
            </div>

        </div>
    </div>
</div>





<router-outlet></router-outlet>