<app-landing-section [textToDisplay]="" 
[layoutConfiguration]="layoutConfiguration" [noTitle]="false"></app-landing-section>
<div class="landing-page-section mb-20">
    <div class="ui container">
        <div class="ui stackable grid py-20">
            <div class="six wide column">
                <img class="ui fluid image" src="{{'assets/images/landingPage.jpg' |  cdnprefixurl}} " />
            </div>
            <div class="six wide column">
                <p>At NSDL e-Gov, we see enormous value in organising proper training and development programmes for the employees. We believe that trainings allows employees to acquire new skills, sharpen existing ones, perform better and increase productivity. Thus, we continuously seek approaches that will help our employees acquire training seamlessly. </p>

                <p>Through this platform we have created a knowledge repository that offers varied resources to the employees. The courses designed are learner centric and customised as per business needs.</p>
                <br/>
                <a href="#">Read More > </a>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
<div class="ui stackable grid">
    <div class="eight wide column ">
        <div class="ui segment">
            <div class="header p-10 segment-heading">
                <span>Featured Articles</span>
                <a href="#" class="right-floated">View All</a>
            </div>
            <br>
            <div class="ui two stackable cards">
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Majority of students (79 percent) use smartphones to study online, as per a survey ‘India Lockdown Learning’ report by Vidyasaarathi. The report goes on to state that only 17 percent of students attend their online classes using laptops and computers and rest 4 percent students attend it through mediums like tablets. Vidyasaarathi is one of the largest scholarship management portals in India – promoted by NSDL e-Governance.</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">79% students use smartphones to study online: ‘India Lockdown Learning’ report by Vidyasaarathi</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>The biggest asset of any business is its employees. Successful organizations are aware of this, and they know how important it is to invest in talent. Many studies show that companies that have dedicated employee training and development programs see not only a sharp increase in profits but also have a high level of staff retention, which is vital for sustained business growth. Employee training is worth the investment because replacing talents is far more expensive than retaining existing ones. According to a study conducted by Gallup, replacements can cost a company around 150 percent of a staff's annual salary. </p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Top 8 Benefits of Employee Training and Development</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>Learning as a discipline has evolved over centuries. One of the great mediums has been learning by hearing or “Shruti” for passing on the wisdom of our ancient scriptures across generations. However, with time this process evolved like everything else. Learning and Development in corporate organizations have also witnessed tumultuous changes, particularly over the last two decades or so. The trend now is leaning more towards creating a robust philosophy of learning for organizations.</p>
                        </div>
                    </div>
                    <h4 class="article-header-padding">Need to adapt L&D in the COVID world</h4>
                </div>
                <div class="ui card">
                    <div class="content card-opacity">
                        <div class="description">
                            <p>We all are well aware of the proverb “All work and no play makes Jack a dull boy” . This signifies how important it is for children to indulge in activities other than just studying. More and more people in the educational sector agree on the importance of learning things other than just academics.It is important to understand Non-academic courses are equally important when compared to studies. Studying helps your kid gain knowledge, but non-academic courses help in the overall development of your kid .it’s becoming more and more clear that the key to a child’s success is learning a wide variety of skills—including non-academic skills,thus helping the kid in their holistic development, and your kid can pursue interest outside a regular and standardized academic course.</p>
                        </div>
                    </div>
                    <div class="article-header-padding">Why Non-academic courses are equally important part of e-learning
</div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column" style="display: none">
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Announcements</span>
                    <a class="right-float">View All</a>
                </div>
                <div class="description mt-10">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                        <br/>
                        <div class="item">
                            <div class="content">
                                <br/>
                                <a class="header text-decoration-underline">Exam Date Announced </a>
                                <br>
                                <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui segment">
            <div class="content">
                <div class="header segment-heading">
                    <span>Calendar</span>
                    <a class="right-float">View All</a>
                </div>
            </div>
        </div>
        <button type="button" onclick="openModal()" class="ui basic fluid button mt-5">ORGANIZATIONS</button>
    </div>
</div>
</div>
<router-outlet></router-outlet>
