<div [ngClass]="layoutConfiguration ? 'sbt-center-container sbt-mygroups relative9' : ''">


    <div class="row">
        <div class="column">
            <h2><b>Step 1</b></h2>
        </div>
        <div class="column">
            <img src="{{'assets/images/GRP_1.jpeg'}}">
        </div>
        <div class="column">
            <h2><b>Step 2</b></h2>
        </div>
        <div class="column">
            <img src="{{'assets/images/GRP_2.jpeg'}}">
        </div>
        <div class="column">
            <h2><b>Step 3</b></h2>
        </div>
        <div class="column">
            <img src="{{'assets/images/GRP_3.jpeg'}}">
        </div>


    </div>



</div>