@import './mixins/mixins';
@import './pages/page-center-view';
* {
    box-sizing: border-box;
}

.column {
    display: flex;
    justify-content: center;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}